{% extends "main/layout.html" %}
{% block title %} Title {% endblock %}
{% block content %}

<div class="wrapper">
       <div class="container">
           <div class="row">
             <div class="col-lg-8 col-md-12">
               <div class="carts">
                  <div class="carts_item">
                     <div class="carts_img" style="background-image: url(img/bigring.jpg);"></div>
                     <div class="carts_info">
                        <a href="#">Золотое кольцо SOKOLOV с фианитом</a>
                        <div class="carts_cat">Кольца</div>
                        <div class="carts_price">
                           <img src="img/money.svg" alt=""> 980 000 сум
                        </div>
                        <div class="carts_btn">
                           <a href="#"><img src="img/fav2.svg" alt=""> Сохранить</a>
                           <a href="#"><img src="img/trash.svg" alt=""> Удалить</a>
                        </div>
                     </div>
                     <div class="carts_count">
                        <span class="carts_size">16 размер</span>
                        <div class="carts_pm">
                           <button class="carts_pm-m">-</button>
                           <span class="carts_pm-c">1</span>
                           <button class="carts_pm-p">+</button>
                        </div>
                     </div>
                  </div>
                  <div class="carts_item">
                     <div class="carts_img" style="background-image: url(img/bigring.jpg);"></div>
                     <div class="carts_info">
                        <a href="#">Золотое кольцо SOKOLOV с фианитом</a>
                        <div class="carts_cat">Кольца</div>
                        <div class="carts_price">
                           <img src="img/money.svg" alt=""> 980 000 сум
                        </div>
                        <div class="carts_btn">
                           <a href="#"><img src="img/fav2.svg" alt=""> Сохранить</a>
                           <a href="#"><img src="img/trash.svg" alt=""> Удалить</a>
                        </div>
                     </div>
                     <div class="carts_count">
                        <span class="carts_size">16 размер</span>
                        <div class="carts_pm">
                           <button class="carts_pm-m">-</button>
                           <span class="carts_pm-c">1</span>
                           <button class="carts_pm-p">+</button>
                        </div>
                     </div>
                  </div>
               </div>
             </div>
             <div class="col-lg-4 col-md-12">
                <div class="carts_sum">
                   <span class="carts_sum-title">ВАШ ЗАКАЗ </span>
                   <hr>
                   <div class="carts_sum-item">
                      <span>Товаров</span>
                      <span>1</span>
                   </div>
                   <div class="carts_sum-item">
                      <span>Общая стоимость</span>
                      <span>980 000 сум</span>
                   </div>
                   <div class="carts_sum-item">
                      <span>Скидка по акции </span>
                      <span>- 120 000 сум</span>
                   </div>
                   <hr>
                   <div class="carts_sum-item">
                      <span>Итого</span>
                      <span>860 000 сум</span>
                   </div>
                   <a href="#">Перейти к оформление</a>
                   <span class="carts_sum-info">Воспользуйтесь курьерской доставкой или зарезервируйте изделия в магазине </span>
                </div>
             </div>
           </div>
       </div>
   </div>


{% endblock %}